* {
    font-family: "Arial", "Broadway";
    font-size: 17px;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 58.5px;
    text-transform: uppercase;
}

h2 {
    font-size: 31px;
    font-style: italic;
    font-weight: lighter;
}

h3 {
    font-size: 24px;
    text-transform: uppercase;
}

header {
    box-sizing: content-box;
    width: auto;
    padding: 2rem;
    padding-left: 15%;
    border: 0;
    margin: 0;
    background-color: rgb(44, 154, 183);
    color: white;
}

.grid-container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}

header {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
}

nav {
    grid-column: 1 / 7;
    grid-row: 2 / 3;
    background-color: rgb(235, 235, 235);
    font-size: 20px;
    font-weight: 600;
    padding: 2rem 0 2rem 15%;
}

.information {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
    padding-bottom: 5px;
}

.quote {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    justify-self: center;
    align-self: center;
    font-size: 26px;
    color: rgb(82, 186, 215);
    padding: 10px 0 10px 0;
}

.news {
    grid-column: 5 / 6;
    grid-row: 3 / 4;
    padding-top: 5px;
}

.cotw {
    grid-column: 5 / 6;
    grid-row: 4 / 5;
}

.story {
    grid-column: 2 / 4;
    grid-row: 5 / 6;
    padding-bottom: 5px;
}

.grid-row-item {
    display: grid;
    background-color: rgb(58, 58, 58);
    grid-column: 1 / 7;
    grid-row: 6 / 7;
    justify-content: center;
}

footer {
    color: white;
    padding: 5px 0 5px 0;
}

footer > nav {
    background-color: rgb(58, 58, 58);
    padding: 0 0 0 0;
}

footer > nav > a:link {
    text-decoration: none;
    color: white;
}

footer > nav > a:visited {
    text-decoration: none;
    color: white;
}

footer > nav > a:hover {
    text-decoration: none;
    color: white;
}

footer > nav > a:active {
    text-decoration: none;
    color: white;
}


.about-us {
    grid-column: 2 / 6;
    grid-row: 3 / 4;
    align-self: center;
    justify-self: center;
    padding: 2% 2% 2% 10%
}
